
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
bin
testbin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor and IDE paraphernalia
.idea
*.swp
*.swo
*~


# Customs
vendor
kubeconfig

/hack/clusters/control-plane-cluster/control-plane-cluster.yaml
/hack/clusters/control-plane-cluster/data-plane-cluster-1.yaml
/hack/clusters/control-plane-cluster/data-plane-cluster-2.yaml
